/*Text*/

h1{
	font-family: garamond, "Times New Roman", serif;
	font-variant: small-caps;
}

p{
	font-family: helvetica, Arial, sans-serif;
	font-weight: 548;
	fony-style: italic;
}

/*div & lists*/

#container{
	margin: 0px 3px;
	border: 1px groove purple;
	padding: 2px 8px;
	box-sizing: border-box;
	width: 400px;
	height: 200px;
	background-image: url("images/backgorund1.png");
	background-repeat: no-repeat;
}

ul{
	list-style-type: none;
}

/*links*/

a{
	text-decoration: none;
	color: rgba(155,20,15,0.7);
}

a: hover{
	color: rgba(255, 145, 132, 1.0);
	background-color: red;
}